@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
    font-family: 'Secular One', sans-serif;
}

/*Navbar*/
.navbar-nav a {
    font-size: 20px;
    padding-top: 20px;
}

.navbar-nav a:hover {
    color: grey !important;
    transition: 0.5s;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}

/*Fim Navbar*/

/* Login */
#login {
    margin-top: 180px;
    margin-bottom: 122px;
}

h1.text-info {
    color: crimson !important;
}

label.text-info,
a.text-info {
    color: crimson !important;
    font-size: 20px;
}

a.text-info:hover {
    color: black !important;
}

.btn-info {
    background-color: crimson;
    border: crimson;
}

.btn-info:hover {
    background-color: black;
}

/* Fim Login */

/* Footer */
.info a {
    font-size: 20px;
    color: white;
}

.info a:hover {
    color: grey;
}

.social a {
    font-size: 2rem;
    color: white;
}

.social a:hover {
    color: grey;
}

/* Fim Footer */

/* media query */
@media only screen and (max-width: 992px) {

    iframe {
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {

    iframe {
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 576px) {

    .footer-column {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }

    iframe {
        max-width: 100%;
        height: auto;
    }
}

/* Fim media query */