body {
    font-size: 100%;
}

.columns {
    display: flex;
    flex-direction: row; /*Comportamento da disposiçaõ. O quão flexível ele será */
    flex-wrap: nowrap;

}

.column {
    width: 33.33%;
    border: solid 1px black;
    text-align: center; /*vertical-align é propriedade para imagem*/
}

@media only screen and (max-width: 400px) {
    body{
        font-size: 2em;
    }
    
    .column {
      background-color:purple;
    }

    .columns{
        flex-direction: column;
    }
  }